.product_item{
    text-align: center;
    /* background: #feefef; */
    padding: 20px 10px;
    cursor: pointer;
    border-radius: 4px;
    height: 25rem;
    width: 26rem;
    margin-top: 25px;
    transition: .4s;
}
.product_item:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.product_img{
    margin: 20px 0;
    transition: .2s;
}
.product_img:hover{
    transform: scale(0.7);
    z-index: 0;
}

.product_price {   
    font-size: 19px;
}