header{
    width: 100%;
    height: 80px;
    line-height: 30px;
    margin-top: 20px;
}
.logo{
    text-align: center;
}
.logo img {
    width: calc(100% -60%);
    object-fit: contain;
    width: 75px ;
}
.title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #212245;
    margin-bottom: 0;
}
.menu a{
    font-weight: 600;
    font-size: 1.4rem;
    color: #212245;
    transition: 0.3s;
}
.menu a:hover{
    color: #EF0C0C;
    /* border-: 2px solid #EF0C0C
     */
     border-bottom: 1px solid #EF0C0C;
}
.activeMenu{
    color: #EF0C0C !important ;
}
.cart_icon, .user_icon, .mobile_menu {
    font-size: 1.5rem;
    color: #212245;
    cursor: pointer;
    
}
.cart_icon{
    position: relative;
}
.cart_badge{
    position: absolute;
    width: 16px;
    height: 15px;
    top: -8px;
    background-color: #EF0C0C;
    color: #ffffff;
    right: -10px;
    border-radius: 50%;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}