
.banner_title{
    font-size: 2.5rem;
}
.banner-right{
    padding-top: 70px;
}
.banner_title span{
    color: #EF0C0C;
}
.banner_content>p {
    font-size: 1.1rem;
    line-height: 30px;
    color: #777777;
}
.banner_btns button {
    border: none;
    outline: none;
    padding: 7px 20px;
    border-radius: 6px;
    cursor: pointer;
}
.order_btn {
    background: #EF0C0C;
    color: white;
    transition: 0.3s ease-in;
}
.order_btn:hover{
    background: #282831 ;
}
.all_foods_btn{
    background: transparent;
    color: #EF0C0C;
    border: 1px solid #EF0C0C !important;
}
.all_foods_btn:hover{
    background: #282831 ;
    color: white !important;
}
.food_Category {
    height: 40px;
    text-align: center;
    gap: 4px;
}
.food_Category>.button{
   
    margin: 0 20px ;
    height: 40px;
    border: none;
    font-size: 18px;

    background: white;
   
}
.food_Category>.button:hover{
    border-bottom: #EF0C0C solid 3px;
    border-radius: 0;
    color: #EF0C0C;
}
.Food_card{
    display: flex;
    align-items: center;
    justify-content: center;
}